// Colors
$color-white:#FFFFFF;
$color-black:#000000;
$color-logo:#27d1d1;

// Typography: Fonts

// Typography: Sizes

// Typography: Weights
$fontWeight-light:300;
$fontWeight-regular:500;
$fontWeight-bold:700;
